POSTGRES_USER=rocket_staging
POSTGRES_PASSWORD=__inject_from_vault_or_k8s_secret__
POSTGRES_DB=rocket
API_AUTH_KEY=__inject_from_vault_or_k8s_secret__
API_AUTH_ADMIN_KEY=__inject_from_vault_or_k8s_secret__
SPRING_DATASOURCE_USERNAME=rocket_staging
SPRING_DATASOURCE_PASSWORD=__inject_from_vault_or_k8s_secret__
FEEDBACK_USER_TOKEN_PEPPER=__inject_from_vault_or_k8s_secret__
FEEDBACK_USER_TOKEN_SALT_V1=__inject_from_vault_or_k8s_secret__
