POSTGRES_USER=rocket_dev
POSTGRES_PASSWORD=__from_secret_manager__
POSTGRES_DB=rocket
MINIO_ROOT_USER=minio_dev
MINIO_ROOT_PASSWORD=__from_secret_manager__
AIRFLOW_SQL_ALCHEMY_CONN=postgresql+psycopg2://rocket_dev:__from_secret_manager__@postgres:5432/rocket
AIRFLOW_ADMIN_PASSWORD=__from_secret_manager__
API_AUTH_KEY=__from_secret_manager__
API_AUTH_ADMIN_KEY=__from_secret_manager__
SPRING_DATASOURCE_USERNAME=rocket_dev
SPRING_DATASOURCE_PASSWORD=__from_secret_manager__
FEEDBACK_USER_TOKEN_PEPPER=__from_secret_manager__
FEEDBACK_USER_TOKEN_SALT_V1=__from_secret_manager__
